.mode-badge {
  position: absolute;
  right: 14px;
  top: 20px;
  min-width: 46px;
  height: 20px;
  padding: 0 6px;
  border-radius: 50px;
  background: #4c4c4c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 10px;
  line-height: normal;
  color: #fff;
  white-space: nowrap;
}
